# Importing Relavant Libraries

In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

# Reading Dataset

In [2]:
#Import Dataset 
# data = pd.read_csv('r"SP_500_Tweets.csv"', sep=',', index_col='Date', parse_dates=True)
data = pd.read_csv(r"SP500_Reddit.csv", index_col=[0], parse_dates=True)
data.head()

               Open     High      Low    Close  Adj Close      Volume
Date
2021-04-01  3764.61  3769.99  3662.71  3700.65    3700.65  5006680000
2021-05-01  3698.02  3737.83  3695.07  3726.86    3726.86  4582620000
2021-06-01  3712.20  3783.04  3705.34  3748.14    3748.14  6049970000
2021-07-01  3764.71  3811.55  3764.71  3803.79    3803.79  5080870000
2021-08-01  3815.05  3826.69  3783.60  3824.68    3824.68  4764180000

# Cleaning Dataset

In [3]:
print('Dataset size:',data.shape)
print('', '-'*20, '\n\nColumns are:',data.columns)
print('', '-'*100, '\n\n',data.dtypes)

Dataset size: (145, 6)
 --------------------

Columns are: Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
 ----------------------------------------------------------------------------------------------------

 Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [4]:
data.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
# Change the datatype of the volume column to float
data['Volume'] = data['Volume'].astype(float)

In [6]:
# Remove columns which you can't use as features
data.drop(['Open', 'High', 'Low', 'Adj Close'], axis=1, inplace=True)
data.head()

              Close        Volume
Date
2021-04-01  3700.65  5.006680e+09
2021-05-01  3726.86  4.582620e+09
2021-06-01  3748.14  6.049970e+09
2021-07-01  3803.79  5.080870e+09
2021-08-01  3824.68  4.764180e+09

### Transforming into Supervised Problem

In [7]:
#Create new column for price difference 

data['Difference']= data['Close'].diff()
data.dropna(inplace = True)

data.head()

              Close        Volume  Difference
Date
2021-05-01  3726.86  4.582620e+09       26.21
2021-06-01  3748.14  6.049970e+09       21.28
2021-07-01  3803.79  5.080870e+09       55.65
2021-08-01  3824.68  4.764180e+09       20.89
2021-11-01  3799.61  4.450500e+09      -25.07

### Finding daily Stock Trend -> Binary

In [8]:
Rise = 1 
Fall = 0 

data['Trend'] = np.where(
    data['Difference'] > 0, Rise, Fall
)

data.head()

              Close        Volume  Difference  Trend
Date
2021-05-01  3726.86  4.582620e+09       26.21      1
2021-06-01  3748.14  6.049970e+09       21.28      1
2021-07-01  3803.79  5.080870e+09       55.65      1
2021-08-01  3824.68  4.764180e+09       20.89      1
2021-11-01  3799.61  4.450500e+09      -25.07      0

### Creating Target

In [9]:
#Target is next day's Trend

data['Target'] = data.Trend.shift(-1)
data.dropna(inplace = True)

data.head()

              Close        Volume  Difference  Trend  Target
Date
2021-05-01  3726.86  4.582620e+09       26.21      1     1.0
2021-06-01  3748.14  6.049970e+09       21.28      1     1.0
2021-07-01  3803.79  5.080870e+09       55.65      1     1.0
2021-08-01  3824.68  4.764180e+09       20.89      1     0.0
2021-11-01  3799.61  4.450500e+09      -25.07      0     1.0

### Storing Cleaned Data

In [10]:
data.to_csv("sp_reddit_cleaned_data.csv")

# Preparing data to attach Sentiments with it

### Shifting Window

In [11]:
#Shifting window
#data.Trend.shift(1)
#data.dropna(inplace = True)
#data.head()

In [12]:
def train_test_split(data,perc):
    data = data.values
    n = int(len(data) * (1 - perc))
    return data[:n], data[n:]

In [13]:
train, test = train_test_split(data,0.2)

In [14]:
#def sliding_window(train, window_size, horizon):
#    '''
#    sliding window generator.
#    '''
#    for i in range(len(train) - window_size - horizon + 1):
#        split_train = train[i:window_size+1]
#        split_val = train[i+window_size:window_size+1+horizon]
#        yield split_train, split_val

In [15]:
def rolling(train, min_train_size, horizon):
    '''
    rolling window generator.
    '''
    for i in range(len(train) - min_train_size - horizon + 1):
        split_train = train[i:min_train_size+1]
        split_val = train[i+min_train_size:min_train_size+1+horizon]
        yield split_train, split_val

In [16]:
cv_rolling = rolling(train, min_train_size=5, horizon=1)

print('data:{0}\n'.format(train))
i = 0
for cv_train, cv_val in cv_rolling:
    print(f'CV[{i+1}]')
    print(f'Train:\t{cv_train}')
    print(f'Val:\t{cv_val}')
    print('----')
    i+=1

data:[[ 3.72686e+03  4.58262e+09  2.62100e+01  1.00000e+00  1.00000e+00]
 [ 3.74814e+03  6.04997e+09  2.12800e+01  1.00000e+00  1.00000e+00]
 [ 3.80379e+03  5.08087e+09  5.56500e+01  1.00000e+00  1.00000e+00]
 [ 3.82468e+03  4.76418e+09  2.08900e+01  1.00000e+00  0.00000e+00]
 [ 3.79961e+03  4.45050e+09 -2.50700e+01  0.00000e+00  1.00000e+00]
 [ 3.80119e+03  4.97721e+09  1.58000e+00  1.00000e+00  1.00000e+00]
 [ 3.80984e+03  4.59042e+09  8.65000e+00  1.00000e+00  0.00000e+00]
 [ 3.79554e+03  5.18014e+09 -1.43000e+01  0.00000e+00  0.00000e+00]
 [ 3.76825e+03  5.35306e+09 -2.72900e+01  0.00000e+00  1.00000e+00]
 [ 3.79891e+03  4.98294e+09  3.06600e+01  1.00000e+00  1.00000e+00]
 [ 3.85185e+03  4.55179e+09  5.29400e+01  1.00000e+00  1.00000e+00]
 [ 3.85307e+03  4.48446e+09  1.22000e+00  1.00000e+00  0.00000e+00]
 [ 3.84147e+03  5.08043e+09 -1.16000e+01  0.00000e+00  1.00000e+00]
 [ 3.85536e+03  6.95586e+09  1.38900e+01  1.00000e+00  0.00000e+00]
 [ 3.84962e+03  6.02909e+09 -5.74000e+00  0.00000e+00  0.00000e+00]
 [ 3.75077e+03  9.87804e+09 -9.88500e+01  0.00000e+00  1.00000e+00]
 [ 3.78738e+03  6.93796e+09  3.66100e+01  1.00000e+00  0.00000e+00]
 [ 3.71424e+03  6.61257e+09 -7.31400e+01  0.00000e+00  1.00000e+00]
 [ 3.77386e+03  5.39287e+09  5.96200e+01  1.00000e+00  1.00000e+00]
 [ 3.82631e+03  5.49537e+09  5.24500e+01  1.00000e+00  1.00000e+00]
 [ 3.83017e+03  4.84690e+09  3.86000e+00  1.00000e+00  1.00000e+00]
 [ 3.87174e+03  4.85667e+09  4.15700e+01  1.00000e+00  1.00000e+00]
 [ 3.88683e+03  4.83858e+09  1.50900e+01  1.00000e+00  1.00000e+00]
 [ 3.91559e+03  4.63503e+09  2.87600e+01  1.00000e+00  0.00000e+00]
 [ 3.91123e+03  4.55461e+09 -4.36000e+00  0.00000e+00  0.00000e+00]
 [ 3.90988e+03  4.81538e+09 -1.35000e+00  0.00000e+00  1.00000e+00]
 [ 3.91638e+03  4.57008e+09  6.50000e+00  1.00000e+00  1.00000e+00]
 [ 3.93483e+03  4.11926e+09  1.84500e+01  1.00000e+00  0.00000e+00]
 [ 3.93259e+03  5.03736e+09 -2.24000e+00  0.00000e+00  0.00000e+00]
 [ 3.93133e+03  4.71828e+09 -1.26000e+00  0.00000e+00  0.00000e+00]
 [ 3.91397e+03  4.77343e+09 -1.73600e+01  0.00000e+00  0.00000e+00]
 [ 3.90671e+03  4.82394e+09 -7.26000e+00  0.00000e+00  0.00000e+00]
 [ 3.87650e+03  5.87019e+09 -3.02100e+01  0.00000e+00  1.00000e+00]
 [ 3.88137e+03  6.28065e+09  4.87000e+00  1.00000e+00  1.00000e+00]
 [ 3.92543e+03  5.94235e+09  4.40600e+01  1.00000e+00  0.00000e+00]
 [ 3.82934e+03  6.51306e+09 -9.60900e+01  0.00000e+00  0.00000e+00]
 [ 3.81115e+03  6.51295e+09 -1.81900e+01  0.00000e+00  1.00000e+00]
 [ 3.90182e+03  5.07154e+09  9.06700e+01  1.00000e+00  0.00000e+00]
 [ 3.87029e+03  5.49369e+09 -3.15300e+01  0.00000e+00  0.00000e+00]
 [ 3.81972e+03  6.15079e+09 -5.05700e+01  0.00000e+00  0.00000e+00]
 [ 3.76847e+03  7.14224e+09 -5.12500e+01  0.00000e+00  1.00000e+00]
 [ 3.84194e+03  6.84257e+09  7.34700e+01  1.00000e+00  0.00000e+00]
 [ 3.82135e+03  5.85224e+09 -2.05900e+01  0.00000e+00  1.00000e+00]
 [ 3.87544e+03  5.49634e+09  5.40900e+01  1.00000e+00  1.00000e+00]
 [ 3.89881e+03  5.82725e+09  2.33700e+01  1.00000e+00  1.00000e+00]
 [ 3.93934e+03  5.30001e+09  4.05300e+01  1.00000e+00  1.00000e+00]
 [ 3.94334e+03  4.46924e+09  4.00000e+00  1.00000e+00  1.00000e+00]
 [ 3.96894e+03  4.88219e+09  2.56000e+01  1.00000e+00  0.00000e+00]
 [ 3.96271e+03  4.60487e+09 -6.23000e+00  0.00000e+00  1.00000e+00]
 [ 3.97412e+03  4.54162e+09  1.14100e+01  1.00000e+00  0.00000e+00]
 [ 3.91546e+03  4.04317e+09 -5.86600e+01  0.00000e+00  0.00000e+00]
 [ 3.91310e+03  7.72505e+09 -2.36000e+00  0.00000e+00  1.00000e+00]
 [ 3.94059e+03  4.31138e+09  2.74900e+01  1.00000e+00  0.00000e+00]
 [ 3.91052e+03  4.64534e+09 -3.00700e+01  0.00000e+00  0.00000e+00]
 [ 3.88914e+03  4.76699e+09 -2.13800e+01  0.00000e+00  1.00000e+00]
 [ 3.90952e+03  4.94080e+09  2.03800e+01  1.00000e+00  1.00000e+00]
 [ 3.97454e+03  5.46785e+09  6.50200e+01  1.00000e+00  0.00000e+00]
 [ 3.97109e+03  4.61984e+09 -3.45000e+00  0.00000e+00  0.00000e+00]
 [ 3.95855e+03  4.10357e+09 -1.25400e+01  0.00000e+00  1.00000e+00]
 [ 3.97289e+03  4.56498e+09  1.43400e+01  1.00000e+00  1.00000e+00]
 [ 4.01987e+03  4.15124e+09  4.69800e+01  1.00000e+00  1.00000e+00]
 [ 4.07791e+03  3.99976e+09  5.80400e+01  1.00000e+00  0.00000e+00]
 [ 4.07394e+03  4.02788e+09 -3.97000e+00  0.00000e+00  1.00000e+00]
 [ 4.07995e+03  4.11264e+09  6.01000e+00  1.00000e+00  1.00000e+00]
 [ 4.09717e+03  3.90191e+09  1.72200e+01  1.00000e+00  1.00000e+00]
 [ 4.12880e+03  3.63491e+09  3.16300e+01  1.00000e+00  0.00000e+00]
 [ 4.12799e+03  3.57850e+09 -8.10000e-01  0.00000e+00  1.00000e+00]
 [ 4.14159e+03  3.72844e+09  1.36000e+01  1.00000e+00  0.00000e+00]
 [ 4.12466e+03  3.97654e+09 -1.69300e+01  0.00000e+00  1.00000e+00]
 [ 4.17042e+03  4.02768e+09  4.57600e+01  1.00000e+00  1.00000e+00]
 [ 4.18547e+03  4.15743e+09  1.50500e+01  1.00000e+00  0.00000e+00]
 [ 4.16326e+03  3.78802e+09 -2.22100e+01  0.00000e+00  0.00000e+00]
 [ 4.13494e+03  4.33823e+09 -2.83200e+01  0.00000e+00  1.00000e+00]
 [ 4.17342e+03  3.86582e+09  3.84800e+01  1.00000e+00  0.00000e+00]
 [ 4.13498e+03  4.23504e+09 -3.84400e+01  0.00000e+00  1.00000e+00]
 [ 4.18017e+03  3.56808e+09  4.51900e+01  1.00000e+00  1.00000e+00]
 [ 4.18762e+03  3.73892e+09  7.45000e+00  1.00000e+00  0.00000e+00]
 [ 4.18672e+03  3.70324e+09 -9.00000e-01  0.00000e+00  0.00000e+00]
 [ 4.18318e+03  3.77239e+09 -3.54000e+00  0.00000e+00  1.00000e+00]
 [ 4.21147e+03  4.28894e+09  2.82900e+01  1.00000e+00  0.00000e+00]
 [ 4.18117e+03  4.27368e+09 -3.03000e+01  0.00000e+00  1.00000e+00]
 [ 4.19266e+03  4.06117e+09  1.14900e+01  1.00000e+00  0.00000e+00]
 [ 4.16466e+03  4.44108e+09 -2.80000e+01  0.00000e+00  1.00000e+00]
 [ 4.16759e+03  4.02905e+09  2.93000e+00  1.00000e+00  1.00000e+00]
 [ 4.20162e+03  4.50486e+09  3.40300e+01  1.00000e+00  1.00000e+00]
 [ 4.23260e+03  4.01306e+09  3.09800e+01  1.00000e+00  0.00000e+00]
 [ 4.18843e+03  3.67897e+09 -4.41700e+01  0.00000e+00  0.00000e+00]
 [ 4.15210e+03  3.59311e+09 -3.63300e+01  0.00000e+00  0.00000e+00]
 [ 4.06304e+03  3.73508e+09 -8.90600e+01  0.00000e+00  1.00000e+00]
 [ 4.11250e+03  3.68778e+09  4.94600e+01  1.00000e+00  1.00000e+00]
 [ 4.17385e+03  3.25192e+09  6.13500e+01  1.00000e+00  0.00000e+00]
 [ 4.16329e+03  3.30713e+09 -1.05600e+01  0.00000e+00  0.00000e+00]
 [ 4.12783e+03  3.55979e+09 -3.54600e+01  0.00000e+00  0.00000e+00]
 [ 4.11568e+03  3.48555e+09 -1.21500e+01  0.00000e+00  1.00000e+00]
 [ 4.15912e+03  3.01906e+09  4.34400e+01  1.00000e+00  0.00000e+00]
 [ 4.15586e+03  3.34462e+09 -3.26000e+00  0.00000e+00  1.00000e+00]
 [ 4.19705e+03  2.94740e+09  4.11900e+01  1.00000e+00  0.00000e+00]
 [ 4.18813e+03  3.42087e+09 -8.92000e+00  0.00000e+00  1.00000e+00]
 [ 4.19599e+03  3.67449e+09  7.86000e+00  1.00000e+00  1.00000e+00]
 [ 4.20088e+03  5.20111e+09  4.89000e+00  1.00000e+00  1.00000e+00]
 [ 4.20411e+03  4.19927e+09  3.23000e+00  1.00000e+00  0.00000e+00]
 [ 4.20204e+03  4.12296e+09 -2.07000e+00  0.00000e+00  1.00000e+00]
 [ 4.20812e+03  4.86093e+09  6.08000e+00  1.00000e+00  0.00000e+00]
 [ 4.19285e+03  4.57945e+09 -1.52700e+01  0.00000e+00  1.00000e+00]
 [ 4.22989e+03  3.48707e+09  3.70400e+01  1.00000e+00  0.00000e+00]
 [ 4.22652e+03  3.83557e+09 -3.37000e+00  0.00000e+00  1.00000e+00]
 [ 4.22726e+03  3.94387e+09  7.40000e-01  1.00000e+00  0.00000e+00]
 [ 4.21955e+03  3.90287e+09 -7.71000e+00  0.00000e+00  1.00000e+00]
 [ 4.23918e+03  3.50248e+09  1.96300e+01  1.00000e+00  1.00000e+00]
 [ 4.24744e+03  3.20428e+09  8.26000e+00  1.00000e+00  1.00000e+00]
 [ 4.25515e+03  3.61205e+09  7.71000e+00  1.00000e+00  0.00000e+00]
 [ 4.24659e+03  3.57845e+09 -8.56000e+00  0.00000e+00  0.00000e+00]
 [ 4.22370e+03  3.72205e+09 -2.28900e+01  0.00000e+00  0.00000e+00]
 [ 4.22186e+03  3.95211e+09 -1.84000e+00  0.00000e+00  0.00000e+00]]

CV[1]
Train:	[[ 3.72686e+03  4.58262e+09  2.62100e+01  1.00000e+00  1.00000e+00]
 [ 3.74814e+03  6.04997e+09  2.12800e+01  1.00000e+00  1.00000e+00]
 [ 3.80379e+03  5.08087e+09  5.56500e+01  1.00000e+00  1.00000e+00]
 [ 3.82468e+03  4.76418e+09  2.08900e+01  1.00000e+00  0.00000e+00]
 [ 3.79961e+03  4.45050e+09 -2.50700e+01  0.00000e+00  1.00000e+00]
 [ 3.80119e+03  4.97721e+09  1.58000e+00  1.00000e+00  1.00000e+00]]
Val:	[[3.80119e+03 4.97721e+09 1.58000e+00 1.00000e+00 1.00000e+00]
 [3.80984e+03 4.59042e+09 8.65000e+00 1.00000e+00 0.00000e+00]]
----
CV[2]
Train:	[[ 3.74814e+03  6.04997e+09  2.12800e+01  1.00000e+00  1.00000e+00]
 [ 3.80379e+03  5.08087e+09  5.56500e+01  1.00000e+00  1.00000e+00]
 [ 3.82468e+03  4.76418e+09  2.08900e+01  1.00000e+00  0.00000e+00]
 [ 3.79961e+03  4.45050e+09 -2.50700e+01  0.00000e+00  1.00000e+00]
 [ 3.80119e+03  4.97721e+09  1.58000e+00  1.00000e+00  1.00000e+00]]
Val:	[[3.80984e+03 4.59042e+09 8.65000e+00 1.00000e+00 0.00000e+00]]
----
CV[3]
Train:	[[ 3.80379e+03  5.08087e+09  5.56500e+01  1.00000e+00  1.00000e+00]
 [ 3.82468e+03  4.76418e+09  2.08900e+01  1.00000e+00  0.00000e+00]
 [ 3.79961e+03  4.45050e+09 -2.50700e+01  0.00000e+00  1.00000e+00]
 [ 3.80119e+03  4.97721e+09  1.58000e+00  1.00000e+00  1.00000e+00]]
Val:	[]
----
CV[4]
Train:	[[ 3.82468e+03  4.76418e+09  2.08900e+01  1.00000e+00  0.00000e+00]
 [ 3.79961e+03  4.45050e+09 -2.50700e+01  0.00000e+00  1.00000e+00]
 [ 3.80119e+03  4.97721e+09  1.58000e+00  1.00000e+00  1.00000e+00]]
Val:	[]
----
CV[5]
Train:	[[ 3.79961e+03  4.45050e+09 -2.50700e+01  0.00000e+00  1.00000e+00]
 [ 3.80119e+03  4.97721e+09  1.58000e+00  1.00000e+00  1.00000e+00]]
Val:	[]
----
CV[6]
Train:	[[3.80119e+03 4.97721e+09 1.58000e+00 1.00000e+00 1.00000e+00]]
Val:	[]
----
CV[7]
Train:	[]
Val:	[]
----
CV[8]
Train:	[]
Val:	[]
----
CV[9]
Train:	[]
Val:	[]
----
CV[10]
Train:	[]
Val:	[]
----
CV[11]
Train:	[]
Val:	[]
----
CV[12]
Train:	[]
Val:	[]
----
CV[13]
Train:	[]
Val:	[]
----
CV[14]
Train:	[]
Val:	[]
----
CV[15]
Train:	[]
Val:	[]
----
CV[16]
Train:	[]
Val:	[]
----
CV[17]
Train:	[]
Val:	[]
----
CV[18]
Train:	[]
Val:	[]
----
CV[19]
Train:	[]
Val:	[]
----
CV[20]
Train:	[]
Val:	[]
----
CV[21]
Train:	[]
Val:	[]
----
CV[22]
Train:	[]
Val:	[]
----
CV[23]
Train:	[]
Val:	[]
----
CV[24]
Train:	[]
Val:	[]
----
CV[25]
Train:	[]
Val:	[]
----
CV[26]
Train:	[]
Val:	[]
----
CV[27]
Train:	[]
Val:	[]
----
CV[28]
Train:	[]
Val:	[]
----
CV[29]
Train:	[]
Val:	[]
----
CV[30]
Train:	[]
Val:	[]
----
CV[31]
Train:	[]
Val:	[]
----
CV[32]
Train:	[]
Val:	[]
----
CV[33]
Train:	[]
Val:	[]
----
CV[34]
Train:	[]
Val:	[]
----
CV[35]
Train:	[]
Val:	[]
----
CV[36]
Train:	[]
Val:	[]
----
CV[37]
Train:	[]
Val:	[]
----
CV[38]
Train:	[]
Val:	[]
----
CV[39]
Train:	[]
Val:	[]
----
CV[40]
Train:	[]
Val:	[]
----
CV[41]
Train:	[]
Val:	[]
----
CV[42]
Train:	[]
Val:	[]
----
CV[43]
Train:	[]
Val:	[]
----
CV[44]
Train:	[]
Val:	[]
----
CV[45]
Train:	[]
Val:	[]
----
CV[46]
Train:	[]
Val:	[]
----
CV[47]
Train:	[]
Val:	[]
----
CV[48]
Train:	[]
Val:	[]
----
CV[49]
Train:	[]
Val:	[]
----
CV[50]
Train:	[]
Val:	[]
----
CV[51]
Train:	[]
Val:	[]
----
CV[52]
Train:	[]
Val:	[]
----
CV[53]
Train:	[]
Val:	[]
----
CV[54]
Train:	[]
Val:	[]
----
CV[55]
Train:	[]
Val:	[]
----
CV[56]
Train:	[]
Val:	[]
----
CV[57]
Train:	[]
Val:	[]
----
CV[58]
Train:	[]
Val:	[]
----
CV[59]
Train:	[]
Val:	[]
----
CV[60]
Train:	[]
Val:	[]
----
CV[61]
Train:	[]
Val:	[]
----
CV[62]
Train:	[]
Val:	[]
----
CV[63]
Train:	[]
Val:	[]
----
CV[64]
Train:	[]
Val:	[]
----
CV[65]
Train:	[]
Val:	[]
----
CV[66]
Train:	[]
Val:	[]
----
CV[67]
Train:	[]
Val:	[]
----
CV[68]
Train:	[]
Val:	[]
----
CV[69]
Train:	[]
Val:	[]
----
CV[70]
Train:	[]
Val:	[]
----
CV[71]
Train:	[]
Val:	[]
----
CV[72]
Train:	[]
Val:	[]
----
CV[73]
Train:	[]
Val:	[]
----
CV[74]
Train:	[]
Val:	[]
----
CV[75]
Train:	[]
Val:	[]
----
CV[76]
Train:	[]
Val:	[]
----
CV[77]
Train:	[]
Val:	[]
----
CV[78]
Train:	[]
Val:	[]
----
CV[79]
Train:	[]
Val:	[]
----
CV[80]
Train:	[]
Val:	[]
----
CV[81]
Train:	[]
Val:	[]
----
CV[82]
Train:	[]
Val:	[]
----
CV[83]
Train:	[]
Val:	[]
----
CV[84]
Train:	[]
Val:	[]
----
CV[85]
Train:	[]
Val:	[]
----
CV[86]
Train:	[]
Val:	[]
----
CV[87]
Train:	[]
Val:	[]
----
CV[88]
Train:	[]
Val:	[]
----
CV[89]
Train:	[]
Val:	[]
----
CV[90]
Train:	[]
Val:	[]
----
CV[91]
Train:	[]
Val:	[]
----
CV[92]
Train:	[]
Val:	[]
----
CV[93]
Train:	[]
Val:	[]
----
CV[94]
Train:	[]
Val:	[]
----
CV[95]
Train:	[]
Val:	[]
----
CV[96]
Train:	[]
Val:	[]
----
CV[97]
Train:	[]
Val:	[]
----
CV[98]
Train:	[]
Val:	[]
----
CV[99]
Train:	[]
Val:	[]
----
CV[100]
Train:	[]
Val:	[]
----
CV[101]
Train:	[]
Val:	[]
----
CV[102]
Train:	[]
Val:	[]
----
CV[103]
Train:	[]
Val:	[]
----
CV[104]
Train:	[]
Val:	[]
----
CV[105]
Train:	[]
Val:	[]
----
CV[106]
Train:	[]
Val:	[]
----
CV[107]
Train:	[]
Val:	[]
----
CV[108]
Train:	[]
Val:	[]
----
CV[109]
Train:	[]
Val:	[]
----

In [17]:
#def cross_validation_score(model, train, cv, metric):
#    cv_scores = []
#    for cv_train, cv_test in cv:
#        model.fit(cv_train, cv_test)
#        preds = model.predict(horizon=len(cv_test))
#        score=metric(y_true=cv_test, y_pred=preds)
#        cv_scores.append(score)
#    return np.array(cv_scores)

In [18]:
#cv_sliding = sliding_window(train, window_size=5, horizon=1)

#cv_scores_1 = cross_validation_score(model, train=train, cv=cv_sliding, metric=accuracy_score)

### Creating Sentiment Column

In [19]:
data = data.reset_index()
data.Date = data.Date.astype("object")
data.Date = pd.to_datetime(data.Date)

data["Sentiment"] = np.zeros(data.shape[0])
data["compound"] = np.zeros(data.shape[0])
data.head()

,Date,Close,Volume,Difference,Trend,Target,Sentiment,compound
0,2021-05-01,3726.86,4.582620e+09,26.21,1,1.0,0.0,0.0
1,2021-06-01,3748.14,6.049970e+09,21.28,1,1.0,0.0,0.0
2,2021-07-01,3803.79,5.080870e+09,55.65,1,1.0,0.0,0.0
3,2021-08-01,3824.68,4.764180e+09,20.89,1,0.0,0.0,0.0
4,2021-11-01,3799.61,4.450500e+09,-25.07,0,1.0,0.0,0.0

### Reading Sentiment Data

In [20]:
data1 = pd.read_csv("final_polarity_data.csv")[['created_at', 'prediction_vader', 'compound']]
data1.columns = ['Date', 'Sentiment', 'compound']
data1.Date = pd.to_datetime(data1.Date)
data1.head()

        Date  Sentiment  compound
0 2020-04-15          1    0.9972
1 2020-06-25          1    0.9993
2 2020-06-04          1    0.9989
3 2020-07-03          1    0.9881
4 2020-07-09          1    0.9994

### Attaching sentiment with data

In [21]:
# Generating copy of both datasets
d = data.copy()
d1 = data1.copy()

# Attaching sentiment
rows = []
for i in d.Date:
    for j in d1.Date:
        if i==j:
            index = d[d.Date == i].index[0]
            new_row = dict(d.iloc[index,:])
            
            sent = d1[d1.Date == i].Sentiment.values[0]
            new_row["Sentiment"] = sent
            
            comp = d1[d1.Date == i].compound.values[0]
            new_row["compound"] = comp
            
            rows.append(new_row)
            
new_data = pd.DataFrame(data=rows, columns=d.columns)
new_data.set_index('Date', inplace=True)
new_data.head()

,Close,Volume,Difference,Trend,Target,Sentiment,compound
Date,,,,,,,
2021-05-01,3726.86,4.582620e+09,26.21,1,1.0,1,0.9980
2021-06-01,3748.14,6.049970e+09,21.28,1,1.0,1,0.9603
2021-07-01,3803.79,5.080870e+09,55.65,1,1.0,1,0.9997
2021-08-01,3824.68,4.764180e+09,20.89,1,0.0,1,0.9996
2021-11-01,3799.61,4.450500e+09,-25.07,0,1.0,1,0.9907

In [22]:
new_data.to_csv("reddit_sent_data.csv")